footer#mainFooter ceci est le footer de la page
  
script(type="text/javascript" src='/scripts/jquery-2.1.1.min.js')  
script(type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
script(type="text/javascript" src='/scripts/angularjs/test.js')
  
  
