extends bootLayout

block content   
  h1 Hello, world!

  div(ng-controller='MainCtrl')
    h1 {{title}}
    input(type='text', ng-model='name', placeholder='Votre nom')
    p Bonjour {{name}}

  // jQuery (necessary for Bootstrap's JavaScript plugins) 
  
  //script(type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js')
  // Include all compiled plugins (below), or include individual files as needed 
//  script(type="text/javascript" src='/stylesheets/bootstrap-3.2.0-dist/js/bootstrap.min.js')


  
  



      
