extends layout

block content
  h1 Test de push  

  #zoneVisu
    p toto
    canvas(width='500px', height='300px')#beerCanva  

  br
  button#poke(type='submit') Click me

  include socket
  



      