*
{
	padding :0;
	margin:0;
	position: relative;
}

body{
	margin: 20px auto auto 20px;

}

#zoneVisu{
	width:80%;
	border:1px solid black;
}


canvas{
	border:1px dotted red;

	width: 900px;
	height: 600px;
}

footer#mainFooter{
	text-align: center;
	margin-top:2em;
	background-color:grey;
}

button{
	margin-left: 1%;
}
